import { useState } from 'react';
import { Stack } from 'expo-router';
import { QueryClient, QueryClientProvider } from '@tanstack/react-query';

export default function RootLayout() {
  // useState(() => ...) so the QueryClient (and its cache) is created once
  // per app instance, not re-created on every render.
  const [queryClient] = useState(() => new QueryClient());

  return (
    <QueryClientProvider client={queryClient}>
      <Stack screenOptions={ { headerShown: false } } />
    </QueryClientProvider>
  );
}
