{
  "expo": {
    "name": "{{ app_name }}",
    "slug": "{{ app_slug }}",
    "version": "1.0.0",
    "orientation": "portrait",
    "platforms": ["ios", "android", "web"],
    "plugins": ["expo-secure-store", "expo-router"],
    "scheme": "{{ app_slug }}",
    "web": { "bundler": "metro" }
  }
}
