'use server';

import { redirect } from 'next/navigation';
{% if comment_actions_code or (can_list and can_delete) %}import { revalidatePath } from 'next/cache';
{% endif %}import { getSessionUserIdOrThrow, requirePermission, getModelPermissions } from '@/lib/authz';
import prisma from '@/lib/prisma';
{% if comment_actions_code %}import { notify } from '@/lib/_notifier';
{% endif %}
{% if service_imports %}
import { {{ service_imports }} } from './service';
{% endif %}
{% if can_create or can_update %}
export async function upsert{{ parent_pascal }}(data: FormData) {
{{ upsert_body }}

  redirect('/{{ parent }}');
}
{% endif %}
{% if can_delete %}
export async function remove{{ parent_pascal }}(ids: string[]) {
  const [{ permissions: userPermissions, userId }, {{ parent_camel }}s] = await Promise.all([
    getModelPermissions('{{ parent }}'),
    await prisma.{{ model }}.findMany({ where: { id: { in: ids } }, select: { id: true, creator_id: true } }),
  ]);
  const filtered{{ parent_pascal }}s = userPermissions.general.delete
    ? {{ parent_camel }}s
    : {{ parent_camel }}s.filter(item =>
        (userPermissions.creator?.delete && item.creator_id === userId) ||
        // eslint-disable-next-line @typescript-eslint/no-explicit-any
        (userPermissions.assignee?.delete && (item as any).assignee_id === userId)
      );
  if (filtered{{ parent_pascal }}s.length === 0) {
    throw new Error('No permission to delete');
  }
  await delete{{ parent_pascal }}(filtered{{ parent_pascal }}s.map(item => item.id));
{% if can_list %}
  revalidatePath('/[locale]/{{ parent }}', 'page');
{% endif %}
  redirect('/{{ parent }}');
}
{% endif %}
{{ comment_actions_code }}
