import { Suspense } from 'react';
import FormSkeleton from '@/components/_standard/FormSkeleton';
import FormUpsert from '@/components/{{ parent }}/FormUpsert';
{% for target in selection_targets %}
{% if target == 'organization' %}
import { getAssociatedOrganizationListPageData } from '@/lib/organization/getters_associated';
{% else %}
import { get{{ target | pascal_case }}ListPageData } from '@/lib/{{ target }}/getters';
{% endif %}
{% endfor %}
import { get{{ parent_pascal }}NewPageAccessCheck } from '@/lib/{{ parent }}/getters';

export default function Add{{ parent_pascal }}Page() {
  return (
    <Suspense fallback={<FormSkeleton />}>
      <{{ parent_pascal }}NewContent />
    </Suspense>
  );
}

async function {{ parent_pascal }}NewContent() {
{% if selection_targets %}
  const [userPermissions, {% for target in selection_targets %}{{ target | camel_case }}sData{% if not loop.last %}, {% endif %}{% endfor %}] = await Promise.all([
    get{{ parent_pascal }}NewPageAccessCheck(),
{% for target in selection_targets %}
{% if target == 'organization' %}
    getAssociatedOrganizationListPageData(),
{% else %}
    get{{ target | pascal_case }}ListPageData(false),
{% endif %}
{% endfor %}
  ]);
{% else %}
  const userPermissions = await get{{ parent_pascal }}NewPageAccessCheck();
{% endif %}
  const src = {
    id: '',
{{ parent_default_props }}
{% for child in children_raw %}
    {{ child.property_name }}: [],
{% endfor %}
  };
  return <FormUpsert src={src} isEdit={false} permissions={userPermissions}{% for target in selection_targets %} all{{ target | pascal_case }}s={{ '{' }}{{ target | camel_case }}sData.{{ target | camel_case }}s{{ '}' }} {{ target | camel_case }}Permissions={{ '{' }}{{ target | camel_case }}sData.userPermissions{{ '}' }}{% endfor %} />;
}
